*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    height: 80px;
    align-items: center;
    margin: 20px;
    font-family: 'Montserrat', sans-serif;
}

.left {
    font-size: 1.7rem;
    margin-right: 300px;
    margin-left: 60px;
}

nav ul{
    display: flex;
    margin-left: 650px;

}

nav ul li{
    list-style: none;
    padding-right: 50px;

}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: red;
    font-size: 1.1rem;
}

#foodie {
    color: red;
}

#Search{
    color: red;
}

#searchbar{
    border-radius: 0.3rem;
    width: 300px;
    height: 20px;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    border-radius: 0.3rem;
    background-color: red;
    color: white;
    width: 60px;
    height: 23px;
    transition: background-color 0.2s ease-in-out;
    margin-left: 890px;
    margin-top: -23px;
    display: block;

}

.btn:hover{
    background-color: rgba(255, 55, 0, 0.868);
}

.srchfun{
    padding: 2rem;
    text-align: center;
}

/* API styling */
.recipe-container{
    text-align: center;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 20px;
    place-items: center;
 
}

.recipe{
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(218, 164, 164, 0.5), -5px -5px 10px rgba(238, 159, 159, 0.5);
    max-width: 350px;
}

.recipe img{
    height: 250px;
}

.recipe h3{
    font-size: 22px;
}

.recipe p{
    font-size: 18px;
    margin: 5px 0;
    color: rgba(0, 0, 0, 0.663);
}

.recipe button{
    width: 100px;
    height: 30px;
    align-items: center;
    margin-left: 120px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: white;
    background-color: red;
    color: white;
    font-weight: 600;
}

.recipe button:hover{
    cursor: pointer;
}

.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    background-color: red;
    color: white;
    border-radius: 12px;
    width: 40%;
    height: 80%;
    text-align: center;
}
.recipe-close-btn{
    background-color: red;
    color: black;
    border: none;
    margin-left: 580px;
}

.recipe-close-btn:hover{
    cursor: pointer;
}

.recipe-details-content{
    text-align: center;
}

.recipe-details-content h2{
    margin-bottom: 10px;
    font-size: 2.2rem;
}

.recipe-details-content h3{
    margin: 10px 0;
    font-size: 1.5rem;
}

.recipe-details-content a{
    text-decoration: none;
    color: white;
}

.recipe-details-content h4{
    margin: 10px 0;
    font-size: 2rem;
}
.recipe-details-content p{
    padding: 2%;
}

.searchquote{
    font-size: 2rem;
}

.waitmsg{
    font-size: 1.5rem;
}